body {
    background-color: #007AFF !important;
}

.container {
    min-height: 90vh;
    max-width: 720px !important;
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-card{
    width: 30rem;
}

.img-q {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white; font-weight: bold; 
    background-color: rgba(128, 124, 124, 0.4);
    text-align: center;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.pos-cor{
    position: relative;
}

.img-q-height {
    height:268.99px
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 24px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

#next-button {
    width: 127px;
}

/* Startbildschirm */

.name {
    margin-left: 25px;
}

.inline {
    display: inline;
}

.top-line {
    border-top: 1px solid rgba(0,0,0,0.4);  
    margin: 1rem;
}

.button-marg {
    margin: 5px;
}

.pad-in {
    padding: 0 !important;
}

.start-footer {
    display: flex;
    justify-content: flex-end;
}

.card {
    --bs-card-spacer-y: 0.7rem;
    width: 100%;
}

@media screen and (max-width: 380px)  {
    .btn-primary {
        font-size: 12px!important;
    }
}