body {
    background-color: #007AFF !important;
}


.container {
    min-height: 100vh;
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}